<h1>Welcome, <%=@user.username%></h1>
<p> Here are your blogs </p>
<ul>
  <%@blogs.each do |blog|%>
    <li>
      <a href = "#"><%=blog.title%></a>
      <br>
      <form class = <%=blog.id%> action="/blogs/<%=blog.id%>" method="POST">
        <input name="_method" type="hidden" value="delete" />
        <input type="submit" value="DELETE" />
      </form>
      <br>
      <form class = <%=blog.id%> action="/blogs/<%=blog.id%>/edit" method="GET">
        <input class = "editing" type="submit" value="Edit" />
      </form>
      <br>
    </li>
  <%end%>

<a id = "adding_blog" href = "/blogs/new"> Add another blog </a>
